@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	/****************
	COLOURS
	*****************/
	--background: #ffffff;
	--primary: #101530;
	--on-light: #101530;
	--on-dark: #ffffff;

	--secondary: #3e78b2;
	--secondary-light: #71aac8;
	/*--secondary-dark: #194169;*/
	--third: #6b2b84;
	--third-light: #a967aa;
	/*--third-dark: #412669;*/



	/****************
	FONT
	*****************/

	--heading: 'Montserrat', sans-serif;
	--body: 'Roboto', sans-serif;

}


/****************
GENERAL
*****************/
/*body {
	margin: 0;
}*/


/*HEADINGS*/
.heading h1, h2, h3, h4 {
	font-family: var(--heading);
	margin: 0;
}
.heading h1 {font-weight: 800; font-size: 1.5em;}
.heading h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center; 
	padding: 1em 2em 0;
}
.heading h3 {
	font-size: 1.17em;
	font-weight: 600;
	padding: 1em 2em;
}
.heading h4 {
	font-size: 1em;
	font-weight: 500;
}


/*TEXT*/
.body-text p, label, figcaption, li, a {
	font-family: var(--body);
	font-weight: 400;
}
.on-dark {color: var(--on-dark);}
.on-light {color: var(--on-light);}

.centered-text {
	text-align: justify;
	margin: 0 auto;
}

.section-blurb {
	padding: 1em 2em 2em;
	margin: 0;
}


/*COLOURS*/
.color-block-primary {
	background-color: var(--primary);
	color: var(--on-dark);
}

.color-icon-secondary {
	color: var(--secondary);
}






/*LINKS*/
.link-on-light a {
	color: var(--on-light);
	text-decoration: none;
}
.link-on-dark a {
	color: var(--on-dark);
	text-decoration: none;
}
.link-hover a:hover {
	color: var(--secondary-light);
	text-decoration: underline;
}

/******************************************
HEADING
******************************************/

/*topbar, 77px*/
.topbar {
	background-color: var(--primary);
	color: var(--on-dark);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9997;
}
.topbar-grid {
	display: grid; 
	grid-template-columns: 2em auto; 
	grid-template-areas: 
	"menu name";
	padding: 1.5em 2em;
	grid-gap: 1em;
}
#main-menu {
	grid-area: menu;
}
#website-name {
	grid-area: name;
}


/*Menu toggle*/
#toggle-open, #toggle-close {
	font-size: 1.5em;
	position: absolute;
	z-index: 9999;
}
input[type=checkbox] {
	display: none;
}
#toggle-close {
	display: none;
}
input[type=checkbox] ~ ul {
	display: none;
}
input[type=checkbox]:checked ~ ul {
	display: block;
}
input[type=checkbox]:checked ~ #toggle-close {
	display: block;
}
input[type=checkbox]:checked ~ #toggle-open {
	display: none;
}

/*Menu panel*/
.menu-items {
	background-color: var(--background);
	color: var(--primary);
	position: absolute;
	z-index: 9998;
	width: 80%;
	height: 100vh;
	overflow: hidden;
	left: 0;
	top:77px;
}
.menu-items li {
	list-style: none;
	padding: 1em 2em;
}
.menu-items a {
	color: var(--primary);
	text-decoration: none; 
}






/******************************************
MAIN
******************************************/

/****************
Banner photo
*****************/
.banner-container {
	width: 100%;
}
/*.banner-image {
	position: absolute; 
	z-index: 9997;
}

#imageheading, #imagesubheading {
	position: absolute;
	z-index: 9998;
	padding: 0;
	margin: 0 auto;
}
#imageheading {
	top: 30px;
	margin: 0 auto;}
#imagesubheading {
	top: 100px;
}*/

/****************
OVERVIEW, SKILLS
*****************/

/*FORMAT IN GRID*/
	.icon-grid, .program-grid {
		position: relative; 
		padding: 1em 2em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 6em;
		grid-gap: 1em;
	}
	.icon-label, .program-img li {
		list-style: none;
		text-align: center;
		align-items: center;
		margin: 0 auto;
	}
	.icon-label i {
		font-size: 2em;
		display: block;
	}


/****************
	PHOTOS
*****************/
	.student-grid {
		padding: 1em 2em;
		display: grid;
		grid-template-columns: 5.5em auto;
		grid-template-areas: 
		"img name"
		"quo quo";
		grid-gap: 1em;
	}
	#designers-of-the-future blockquote:nth-of-type(2n) {
		grid-template-columns: auto 5.5em;
		grid-template-areas: 
		"name img"
		"quo quo";
	}
	#designers-of-the-future .student-name:nth-of-type(2n) {
		text-align: center;
	}

	.student-photo {
		grid-area: img;
		max-width: 100%;
	}
	.student-name {
		grid-area: name;
		align-self: center;
	}
	.student-year {
		grid-area: year;
	}
	.student-quote {
		grid-area: quo;
	}

	.small-project img {
		width: 25%;
		justify-self: center; 
	}
	.alumni-photo img {
		width: 25%;
		justify-self: center;
	}




/******************************************
FOOTER
******************************************/
.bottombar {
	background-color: var(--primary);
	color: var(--on-dark);
	padding: 1em 2em;
}
.bottombar h4 {
	text-align: center;
}
.bottombar ul {
	padding: 0;
}
.bottombar li {
	list-style: none;
	text-align: center;
}