@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

html {
	/****************
	COLOURS
	*****************/
	--background: #ffffff;
	--primary: #05323f;
	--on-light: #05323f;
	--on-dark: #ffffff;

	--secondary-light: #0997a1;
	/* --secondary-tint: (9, 151, 161); */
	--secondary-dark: #085c6b;




	/****************
	FONT
	*****************/

	--heading: 'Montserrat', Verdana, sans-serif;
	--body: 'Hind', Arial, sans-serif;

}


/****************
GENERAL
*****************/
/* body {
	background: var(--secondary-light) url(/img/wireframe-main.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--secondary-light);
	min-height: 100%;
	height: 100%;
} */



/*HEADINGS*/
.heading h1, h2, h3, h4 {
	font-family: var(--heading);
	margin: 0;
}
.heading h1 {
	font-weight: 800;
	font-size: 1.5em;
}
.heading h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center; 
	padding-bottom: .5em;
}
.heading h3 {
	font-size: 1.17em;
	font-weight: 600;
}
.heading h4 {
	font-size: 1em;
	font-weight: 500;
}
.subheading {
	background-color: var(--secondary-light);
	color: var(--on-dark);
	padding: 4em 2em;
	text-align: center; 
}

/*TEXT*/
.body-text p, label, li, a {
	font-family: var(--body);
	font-weight: 400;
}
.on-dark {color: var(--on-dark);}
.on-light {color: var(--on-light);}

/*SPACING*/
.centered-text {
	text-align: justify;
	margin: 0 auto;
}

.section-blurb {
	margin: 0;
	padding: 2em;
}


/*COLOURS*/
.color-block-primary {
	background-color: var(--primary);
	color: var(--on-dark);
}

.color-icon {
	color: var(--secondary-dark);
}



/*LINKS*/
.link-on-light a {
	color: var(--on-dark);
	text-decoration: none;
}
.link-on-dark a {
	color: var(--on-dark);
	text-decoration: none;
}
.link-hover-light a:hover {
	color: var(--secondary-light);
	text-decoration: underline;
}
.link-hover-dark a:hover{
	color: var(--secondary-dark);
	text-decoration: underline;
}
.link-no-underline a {
	text-decoration: none;
}


/******************************************
HEADER
******************************************/

/*topbar, 77px*/
.topbar {
	background-color: var(--primary);
	color: var(--on-dark);
	width: 100%;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 9997;
}
.topbar-grid {
	display: grid; 
	grid-template-columns: 2em auto; 
	grid-template-areas: 
	"menu name";
	padding: 1.5em 2em;
	grid-gap: 1em;
}
#main-menu {
	grid-area: menu;
}
#website-name {
	grid-area: name;
}


/*Menu toggle*/
#toggle-open, #toggle-close {
	font-size: 1.5em;
	position: absolute;
	z-index: 9999;
}
input[type=checkbox], 
#toggle-close, 
input[type=checkbox] ~ ul,  
input[type=checkbox]:checked ~ #toggle-open {
	display: none;
}
input[type=checkbox]:checked ~ ul, 
input[type=checkbox]:checked ~ #toggle-close {
	display: block;
}

/*Menu panel*/

.menu-items {
	background-color: var(--background);
	color: var(--primary);
	position: absolute;
	z-index: 9998;
	width: 80%;
	height: 100vh;
	overflow: hidden;
	left: 0;
	top:77.6px;
}
.menu-items li {
	list-style: none;
	padding: 1em 2em;
}
.menu-items a {
	color: var(--primary);
	text-decoration: none; 
	font-family: var(--heading);
	display: block;
}






/******************************************
MAIN
******************************************/

/*Color overlays*/
	/* .tint {
		background: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
	} */
	
/****************
Banner photo
*****************/
#banner {
	position: relative;
	background-color: var(--secondary-light);
}
.banner-image {
	padding-top: 77.6px;
	opacity: .7;
	height: 100vh;
	width: 100vw;
	object-fit: cover; 
}
.text-overlay {
	color: var(--on-dark);
	font-size: .65em;
	padding: 2em;
	list-style: none;
	position: absolute;
	top: 50%;
	width: 100%;
	
}



/****************
OVERVIEW, SKILLS
*****************/
.tint-ideation {
	background-image: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/ideation-sticky-note.jpg);
		/*Photo by You X Ventures on Unsplash*/
	background-size: cover;
	background-position: top;
}
.tint-whiteboard {
	background: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/whiteboard.jpg);
		/*Photo by Kaleidico on Unsplash*/
		background-size: cover;
		background-position: top;
}
.tint-collaboration {
	background: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/laptops.jpg);
		/*Photo by Marvin Meyer on Unsplash*/
		background-size: cover;
		background-position: top;
}
.tint-programs {
	background: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/mac.jpg);
		/*Photo by Kaitlyn Baker on Unsplash*/
		background-size: cover;
		background-position: center;
}

	#skills .icon-grid, 
	#we-create .icon-grid, 
	#we-explore .icon-grid,
	.program-grid {
		margin: 2em;
		display: grid;
		grid-template-columns: 7em 7em;
		grid-auto-rows: 7em;
		grid-gap: 2em;
		justify-content: space-evenly;
	}
	
	.icon-label, .program-img li {
		list-style: none;
		text-align: center;
		align-items: center;
		margin: 0 auto;
	}
	.program-img li {
		align-self: center;
	}
	
	.icon-label i {
		font-size: 2em;
		display: block;
	}



/****************
	STUDENT PROFILE
*****************/
.tint-designers {
	background: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/designers.jpg);
		/*Photo by Naassom Azevedo on Unsplash*/
		background-size: cover;
		background-position: center;
}


	.student-profile {
		/* padding: 2em; */
		margin: 2em;
		display: grid;
		grid-template-columns: 5.5em auto;
		grid-template-areas: 
		"img name"
		"quo quo";
		grid-gap: 1em;
	}

	.student-photo {
		grid-area: img;
		max-width: 100%;
	}
	.student-name {
		grid-area: name;
		align-self: center;
		justify-self: left;
	}
	.student-name h4 {
		font-weight: 600;
	}
	.student-year {
		grid-area: year;
	}
	.student-quote {
		grid-area: quo;
	}


/****************
STUDENT PROJECTS
*****************/
.tint-projects {
	background: 
		linear-gradient(
			rgba(9, 151, 161, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/art-and-design.jpg);
		/*Photo by William Iven on Unsplash*/
		background-size: cover;
		background-position: center;
}

	.project-image img {
		width: 100%;
	}
	.project-grid figure, .year-end-grid figure {
		margin: 2em;
	}
	.project-image div {
		position: relative;
	}
	.project-grid figcaption, .year-end-grid figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		opacity: .75;
	}

	.caption {
		background-color: var(--secondary-dark);
		color: var(--on-dark);
		font-family: var(--heading);
		padding: .5em;
	}


/****************
CAREERS/ALUMNI
*****************/
.tint-alumni {
	background: 
		linear-gradient(
			rgba(62, 115, 119, 0.7), 
			rgba(9, 151, 161, 0.7)
		),
		url(/img/grad-cap.jpg);
		/*Image by Gillian Callison from Pixabay*/
		background-size: cover;
		background-position: top;
}

#career-blurb ul {
	padding-top: .5em;
	padding-left: 2em;
}


.alumni-grid {	
	display: grid;
	grid-gap: 1em;
	/* padding: 1em 2em; */
	margin: 2em;
}
.alumni-name h4 {
	font-weight: 600;
}






/******************************************
FOOTER
******************************************/
#top-footer, #bottom-footer {
	color: var(--on-dark);
	padding: 2em;
}
#top-footer {
	background-color: var(--secondary-dark);
}
#top-footer section:last-child {
	padding-bottom: 0;
}
#top-footer h3, #top-footer ul li {
	text-align: left;
}
#bottom-footer {
	background-color: var(--secondary-light);
	text-align: center;
}

.bottombar section {
	padding-bottom: 1em;
}
.bottombar h3 {
	text-align: center;
	padding-bottom: .5em;
}
.bottombar ul {
	padding: 0;
}
.bottombar li {
	list-style: none;
	text-align: center;
	padding: .2em 0;
}


#contact, #legal {
	display: none;
}


.social-media li {
	display: inline-block;
	padding: .5em;
}



/******************************************
BREAKPOINTS
******************************************/

/******************
MEDIA QUERY 1 640PX
*******************/
@media screen and (min-width: 640px) {

	/*Icon grid, program grid*/
	.icon-grid, .program-grid {
		grid-template-columns: repeat(4, 7em);
	}
	.icon-grid {
		grid-gap: 2em;
	}



	.student-profile {
		 /* padding: 2em 10em; */
		 grid-template-rows: 6em; 
		 grid-template-columns: .5fr 1fr;
		 grid-template-areas: 
		 "img name"
		 "img quo";
	}
	.student-photo {
		align-self: center; 
	}


	/*Student Projects - masonry-style columns*/
	.project-grid, .year-end-grid {
		display: block;
		/* padding: 2em; */
		margin: 2em;
		column-count: 2;
		column-gap: 1em;
	}
	.project-grid figure, .year-end-grid figure {
		display: block;
		margin: 0;
	}
	#student-projects .project-image, #year-end-show .project-image  {
		padding: 0 0 1em 0;
		-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	}

	

	/*Careers*/

	.alumni-grid {
		/* padding: 2em; */
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 2fr;
		grid-template-areas: 
		"img name"
		"img quo";
	}
	.alumni-photo {
		grid-area: img;
	}
	.alumni-photo img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.alumni-name {
		grid-area: name;
	}
	.alumni-grid p {
		grid-area: quo;
	}

	
	#top-footer {
		display: grid; 
		grid-template-columns: repeat(4, 1fr);
	}


}/*last curly*/





/*******************
MEDIA QUERY 2  768PX
********************/
@media screen and (min-width: 768px) {

	/*Topbar*/
	.topbar-grid {
		grid-template-columns: auto auto;
		grid-template-areas:
		"name menu";
		grid-gap: 2em;
	}
	#website-name {
		grid-area: name;
		align-self: center;
	}
	#main-menu {
		grid-area: menu;
	}

	
	#main-menu label {
		display: none;
	}
	#main-menu ul {
		background-color: var(--primary);
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		grid-gap: 1em;
	}
	.menu-items {
		width: auto;
		height: auto;
		position: relative;
		z-index: 9997;
		top: 0;
		text-align: left;
	}
	.menu-items li {
		background-color: var(--primary);
		display: inline-block;
		padding: .5em;
		text-align: center;
		border-bottom: 2px solid var(--primary);
	}
	.menu-items a {
		color: var(--on-dark);
		font-size: .75em;
	}

	.menu-items li:hover {
		border-bottom: 2px solid var(--secondary-light);
	}


	/*Overview*/
		#overview-blocks {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
			"exp exp"
			"cre cre";
		}

		#overview-blurb {
			grid-area: over;
		}
		#we-explore, #we-create {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		#we-explore {
			grid-area: exp;	
		}

		#we-create {
			grid-area: cre;
			grid-template-areas: 
			"ico head";
		}
		#we-create h3 {
			grid-area: head;
			/* background-color: var(--secondary-light); */
		}
		#we-create ul {
			grid-area: ico;
		}

		#we-explore h3, 
		#we-create h3, 
		#general-skills h3, 
		#programs h3, 
		#designers-of-the-future h3,
		#student-projects h3,
		#alumni h3 {
			font-size: 2em;
			padding: 1em;
		}
		#we-explore div, 
		#we-create div, 
		#general-skills div, 
		#programs div, 
		#designers-of-the-future .subheading,
		#student-projects .subheading,
		#alumni .subheading {
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-size: cover;
		}
		.icon-grid {
			grid-template-columns: 7em 7em;
		}
	



		#general-skills {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		#programs {
			display: grid; 
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
			"ico head";
		}
		#program-list {
			grid-area: ico;
		}
		.program-grid {
			grid-template-columns: repeat(4, auto);
			grid-auto-rows: 5em;
			grid-gap: 1em;
			justify-content: space-evenly;
		}


	#designers-of-the-future {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}	
	.student-profile {
		grid-template-columns: 5.5em auto;
		grid-template-areas: 
		"img name"
		"quo quo";
	}



	#alumni {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.alumni-grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto auto;
		grid-template-areas:
		"img"
		"name"
		"quo";
	}
	.alumni-photo {
		grid-area: img;
	}
	.alumni-name {
		grid-area: name;
	}
	.alumni-grid p {
		grid-area: quo;
	}





	/*Footer*/
	#contact, #legal {
		display: block;
	}
	#contact img {
		width: 50%;
	}

	#top-footer {
		/* grid-template-columns: 1fr 1fr 1fr 1fr; */
		grid-template-areas: 
		"con jump imp legal";
	}
	#top-footer section {
		padding: 0;
	}
	#contact {
		grid-area: con;
	}
	#jump-to {
		grid-area: jump;
	}
	#important-links {
		grid-area: imp;
	}
	#legal {
		grid-area: legal;
	}


}/*last curly*/







/****************
MEDIA QUERY 3
*****************/
@media screen and (min-width: 1024px) {
	.container {
		max-width: 1000px;
		margin: 0 auto;
	}


	.topbar {
		font-size: 1.2em;
	}
	.topbar-grid {
		grid-template-columns: 1fr 3fr;
		grid-gap: 10em;
	}
	



	/*MAIN*/
	.heading h2 {
		font-size: 1.6em;
	}
	.section-blurb {
		padding: 3em 15em;
		width: 100%;
		text-align: center; 
		font-size: 1.2em;
	}

	#banner .text-overlay h2 {
		font-size: 3.5em;
	}
	


	/*Overview*/


	#overview-blocks {
		grid-template-columns: auto auto;
		grid-template-areas:
		"exp cre"; 
		grid-gap: 2em;
	}
	

	#we-explore, #we-create {
		/* padding: 2em; */
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding-top: 2em; 
		width: auto;
	}
	#we-create {
		grid-template-areas: 
		"head"
		"ico";
	}

	.icon-grid, #skills .icon-grid {
		grid-template-columns: repeat(4, 1fr);
		/* padding: 3em 1em ; */
	}




	/*Skills*/
	#general-skills, #programs {
		grid-template-columns: 1fr;
		grid-template-rows: 13em 1fr;
		padding-top: 2em;
	}
	#programs {
		padding: 0;
		grid-template-areas:
		"head"
		"ico";
	}




	/*Current students*/
	#designers-of-the-future {
		padding: 2em 0;
		grid-gap: 2em;
	}
	.student-profile {
		padding: 0;
	}



	 .project-grid, .year-end-grid {
		padding: 2em 0 0 0;
		column-count: 3;
		column-gap: 2em;
	}
	
	#student-projects .project-image, #year-end-show .project-image {
		padding-bottom: 2em;
	}
	#student-projects .subheading {
		padding: 3.25em;
	}

	


		/*Careers*/
		#career-blurb ul {
			text-align: left; 
			padding-left: 0;
			margin: 0 auto;
		}
		#alumni {
			padding: 2em 0 4em 0;
			grid-gap: 2em;
		}
		.alumni-grid {
			padding: 0;
		}


	.bottombar {
		background-color: var(--secondary-dark);
	}
	#top-footer {
		padding: 2em 0;
	}


}/*last curly*/





/****************
MEDIA QUERY 4
*****************/
@media screen and (min-width: 1920px) {
.container {
	max-width: 1400px;
}
.big-container {
	max-width: 1750px;
	margin: 0 auto;
}

.heading h2 {
	font-size: 1.7em;
}

.text-overlay li {
	font-size: 1.5em;
}
/* .section-blurb {
	padding: 0;
} */

#overview, 
#skills, 
#current-students,
#student-projects, 
#year-end-show, 
#careers, 
footer {
	padding-top: 4em;
}

.topbar {
	padding: 2em 6em;
	grid-gap: 15em;
}
/*Overview*/
#overview {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"blurb blocks";
}
#overview-blurb {
	grid-area: blurb;
	background-color: var(--primary);
	padding: 2em 3em;
}

#overview-blocks {
	grid-area: blocks;
	grid-gap: 2em;
	padding-left: 2em;
	width: 100%;
}
#overview-blurb{
	/* display: flex; */
	align-self: center; 
	justify-content: center;
	background-size: cover; 
	padding: 2em 3em;
	height: 100%;
}
#we-explore, #we-create {
	padding: 0;
}



/*Skills*/
#skills {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	". . blurb"
	"pro pro pro";
}
#skills-blurb {
	grid-area: blurb;
}
#general-skills, #programs {
	width: 100%;
}
#general-skills {
	padding-right: 1em;
	padding-top: 0;
}
#programs {
	padding: 0 2em 0 1em;
}
#skills .icon-grid, .program-grid {
	padding: 0;
}


.section-blurb {
	padding: 2em;
}


/*Current students*/
#current-students {
	display: grid;
	grid-template-columns: .5fr 1fr;
	grid-template-areas: 
	"blurb prof"
	"proj proj";
}
#current-students-blurb {
	grid-area: blurb;
}
#designers-of-the-future {
	grid-area: prof;
	padding-left: 2em;
	padding-top: 0;
}
#student-projects {
	grid-area: proj;
}
#student-projects .subheading {
	padding: 6.5em;
}

.tint-projects { 
	height: 6.5em;
}
.project-grid, .year-end-grid {
	column-count: 4;
}
.project-grid {
	padding: 0;
}

#careers ul {
	padding: 0;
	margin: 0 auto;
}
#alumni {
	grid-template-columns: 1fr 1fr 1fr;
}
.alumni-grid {
	margin: 0;
}

#top-footer {
	padding: 4em 0;
}

}/*last curly*/


